/**************************************ELEMENTS******************************************/

body {
    margin: 0;
    text-align: center;
    color: #40514E;
}

h1 {
    margin: 0;
    padding-top: 50px;
    font-family: 'Sacramento' , cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    color: #66BFBF;
    font-weight: 900;
    margin-block: auto;
    margin-inline: auto;
    font-weight: bold;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: #11999E;
    font-weight: bolder;
    font-weight: bold;
}

hr {
    border: dotted 6px;
    width: 4%;
    border-bottom: none;
    color: #EAF6F6;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding:1rem;
    line-height: 2;
}

a {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

a:hover {
    color: #EAF6F6;
}

/**************************************CLASSES******************************************/

/* "pro" in "programmer" */
.pro {
    text-decoration: underline;
}

/* skill section*/
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 200%;
    margin-bottom: 1rem;
}

/* up cloud */
.up-cloud {
    position: absolute;
    top: 40px;
    left: 1000px;
}

/* down cloud */
.down-cloud {
    position: absolute;
    top: 430px;
    left: 250px;
}

/* howdy word */
.howdy {
    font-weight:bold;
    padding-bottom: 1rem;
}

/* my photo profile */
.my_img {
    height: 350px;
    width: 275px;
    border-radius: 80%;
    padding-bottom: 1rem;
}

/* top container */
.top-container {
    padding-top: 100px;
    background-color: #E4F9F5;
    margin-bottom: 2rem;
}

/* middle container */
.middle-container {
    padding-top: 20px;
}

/* learn image skill*/
.learn-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* programming image skill*/
.programming-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* math and logic image skill*/
.math-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* paragraph before skills */
.paragraph-before-skills {
    margin-bottom: 4rem;
    width: 22rem;
    margin: auto;
    padding-bottom: 4rem;
}

/* "my skills" title */
.title-my-skills {
    margin-top: 4rem;
}

/* skills section included the title */
.skills {
    margin-bottom: 7rem;
}

/* hr contact me */
.hr-contact-me {
    margin-bottom: 4rem;
}

/* paragraph before contact me botton */
#paragraph-before-btn {
    margin-bottom: 2rem;
}

/* contact me botton */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;

    }

/* bottom container */
.bottom-container {
    margin-top: 5rem;
    background-color:#66BFBF;
    height: 10rem;
    position: relative;
}

/* my name in to the end */
.my-name-end {
    padding-top: 6rem;
    margin-top: 4rem;
    color: #EAF6F6;
    font-size: 75%;
}

/* links */
.footer-link {
    position: absolute;
    padding-top: 20px;
    text-decoration: none;
    top: 30px;
    color: #11999E;
}

#linkedin {
    left: 600px;
}

#twitter {
    left: 700px;
}

#github {
    left: 800px;
}
